.main {
  position: relative;
  
  width: 100%;
  height: 100%;
  background-color: var(--orange-500);
  display: grid;
  place-items: center;

  div {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--wine);
    border: 30px solid var(--wine);
    border-top: 30px solid var(--yellow-700);
    border-bottom: 30px solid var(--yellow-700);

    transform: rotate(45deg);
    box-shadow: 0 0 0px 30px var(--wine);
    // offset-x | offset-y | blur-radius | spread-radius | color
  }
}
